{% extends 'layout.server.view.html' %}
{% block content %}
<div class="container" ng-controller="changePasswordByTokenController">
  <div class="panel panel-common login-form">
    <div class="panel-heading">
      <div class="panel-title"><h2>User Reset Password</h2></div>
    </div>
    <div class="panel-body">
      <form id="resetPassword_form" role="form" ng-keypress="submit($event)" ng-init="resetpass.token = '{{ _token }}'">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="password" id="new_password" ng-model="resetpass.newPassword" placeholder="New Password"
                   class="form-control">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="password" ng-model="resetpass.confirmPassword" placeholder="Confirm Password"
                   class="form-control">
          </div>
        </div>
        <div class="controls">
          <input type="button" value="Submit" ng-click="resetPassword()" class="btn btn-common btn-block">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
