<section>
  <nav class="container">
    <h1>Welcome to Common-Services!</h1>
      <nav class="collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li class="active"><a ui-sref="home">Home</a></li>
          <li><a ui-sref="dashboard">Dashboard</a></li>
        </ul>
    </nav>
    <div class="well">
      <div class="intro">
        <h2>Common Services V0.1</h2>
        <hr>
        <div style="text-align: center;">
          <img src="/img/CommonService.png" alt="">
          <p>OverView</p>
        </div>
        <p><strong>Usage:</strong></p>
        <p>TODO...</p>
      </div>
    </div>
    <div id="footer">
      <p>Based on MEAN.js v4.3.2, Build with 3> .</p>
    </div>
  </div>
</section>
